@mixin animatePropertyIn {
  transform: scaleX(0);
  animation: logedOnLoad 0.3s forwards;
}
@mixin animatePropertyOut {
  transform: scaleX(1);
  animation: logedOut 0.3s forwards;
}

@keyframes logedOnLoad {
  to {
    transform: scaleX(1);
  }
}

@keyframes logedOut {
  to {
    transform: scaleX(0);
  }
}

@keyframes sectionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sectionOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes productsIn {
  from {
    transform: translateX(1920px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes productsInRight {
  from {
    transform: translateX(-1920px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes productsOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1920px);
  }
}

@keyframes productsOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1920px);
  }
}
