$primaryColor: #706fd3;
$secondaryColor: #f86d70;
@mixin absolute($top, $left, $background, $width, $height) {
  position: absolute;
  top: $top;
  left: $left;
  background: $background;
  width: $width;
  height: $height;
}

@mixin btnStyle($padding, $borderR, $width, $margin) {
  border: solid 0.5px rgb(150, 144, 144);
  padding: $padding;
  margin: $margin;
  border-radius: $borderR;
  width: $width;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 5px 10px $primaryColor;
  box-shadow: 0 5px 10px $primaryColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin displayFlex($flexDirec) {
  display: flex;
  flex-direction: $flexDirec;
}

@mixin heightWidth($height, $width) {
  height: $height;
  width: $width;
}
