@mixin cartBeforeAfter {
  position: absolute;
  content: "";
  height: 150px;
  width: 150px;
  border-radius: 50%;
  // background: #f86d70;
  background: linear-gradient(to right, #f86d70, #fbbebe);
}

#Cart {
  padding: 100px;
  height: 100vh;
  width: 100vw;
}

#Cart * {
  transition: 0.3s;
}
.cart-item-div {
  height: 20vh;
  width: 80%;
  min-width: 300px;
  max-width: 1000px;
  border: solid 2px #706fd3;
  margin: 0 auto 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
  transform-origin: 100% 0;
  transition: 0.5s;
}
.cart-item-div-remove {
  transform: scaleY(0);
}

.cart-item-div::before {
  @include cartBeforeAfter();
  left: -60px;
  top: -70px;
}
.cart-item-div::after {
  @include cartBeforeAfter();
  right: -70px;
  bottom: -90px;
}
.cart-item-img {
  height: 80%;
  max-width: 150px;
}
.cart-inside-item-h1 {
  font-weight: 500;
  margin-bottom: 15px;
  color: #706fd3;
}
.cart-inside-item-p {
  span {
    font-weight: 500;
  }
}
.cart-inside2-h1 {
  font-weight: 500;
  margin-bottom: 15px;
  color: #706fd3;
}

.cart-inside2-p {
  font-weight: 500;
  letter-spacing: 2px;
}
.cart-remove-btn-div {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.cart-remove-btn-div::after {
  content: "Remove";
  position: absolute;
  top: -25px;
  left: -10px;
  color: #ffb142;
  transition: 0.3s;
  transform: scaleY(0);
  transform-origin: 0 100%;
}
.cart-remove-btn-div:hover::after {
  transform: scaleY(1);
}
.cart-remove-btn-div:hover {
  background: lightgray;
}
.cart-remove-btn-div div {
  background: lightgray;
  height: 15px;
  width: 2px;
  position: absolute;
  left: 17.5px;
  top: 10px;
  pointer-events: none;
  border-radius: 4px;
}
.cart-remove-btn-div div:nth-child(1) {
  transform: rotate(45deg);
}
.cart-remove-btn-div div:nth-child(2) {
  transform: rotate(-45deg);
}
.cart-remove-btn-div:hover div {
  background: #fff;
}
.cart-subtotal-div {
  text-align: center;
  height: auto;
}
.cart-subtotal-h1 {
  font-weight: 500;
  font-size: 23px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  span {
    color: #f86d70;
  }
}

.cart-inside-subtotal-div {
  margin-top: 50px;
}

.c-i-sb-1,
.c-i-sb-2 {
  height: 60px;
  width: 50%;
  max-width: 300px;
  border-radius: 10px;
  background: linear-gradient(to right, #f86d70, #fbbebe);
  margin: 0 auto 15px auto;
  line-height: 3.5;
  border: solid 2px #706fd3;
  cursor: pointer;
  position: relative;
  p {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    position: relative;
    pointer-events: none;
  }
}
.c-i-sb-1::before,
.c-i-sb-2::before {
  position: absolute;
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: 0.3s;
  transform: scaleX(0);
}
.c-i-sb-1:hover::before,
.c-i-sb-2:hover::before {
  transform: scaleX(1);
}
.c-i-sb-1:hover p,
.c-i-sb-2:hover p {
  color: black;
}

@media only screen and (max-width: 950px) {
  .cart-remove-btn-div {
    top: 5px;
    right: unset;
  }
}
@media only screen and (max-width: 820px) {
  .cart-item-img {
    height: 60%;
  }
  .cart-inside-item-h1 {
    font-size: 15px;
    margin-bottom: unset;
  }
  .cart-inside2-h1 {
    font-size: 15px;
    margin-bottom: unset;
  }
  .cart-item-div {
    height: 150px;
  }
}
@media only screen and (max-width: 700px) {
  .cart-item-div::before,
  .cart-item-div::after {
    transition: 0.3s;
    transform-origin: 100% 0;
    transform: scale(0);
  }
}
@media only screen and (max-width: 400px) {
  #Cart {
    padding: 50px 0;
    height: 100vh;
  }
  .cart-item-div {
    height: 20%;
  }
  .cart-item-img {
    height: 90%;
  }
  .cart-inside2-p {
    font-weight: 500;
  }
  .cart-remove-btn-div {
    height: 25px;
    width: 25px;
    top: 2px;
  }
  .cart-remove-btn-div div:nth-child(1) {
    height: 15px;
    width: 1px;
    left: 11.5px;
    top: 5px;
  }
  .cart-remove-btn-div div:nth-child(2) {
    height: 15px;
    width: 1px;
    left: 11.5px;
    top: 5px;
  }
  .cart-subtotal-div {
    text-align: center;
    height: auto;
  }
  .cart-subtotal-h1 {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1.5px;
    span {
      color: #f86d70;
    }
  }
}
