@import "../../../Styles/animation.scss";

.products-box-div * {
  transition: 0.3s;
}

.products-box-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 200px 100px;
  height: inherit;
  position: relative;
}

.wrap-products-items-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s;
}
.wrap-procuts-in-left {
  animation: productsIn 0.7s;
}
.wrap-products-in-right {
  animation: productsInRight 0.7s;
}
.wrap-products-out-left {
  animation: productsOut 0.7s;
}
.wrap-products-out-right {
  animation: productsOutRight 0.7s;
}

.products-item-div {
  height: 300px;
  width: 300px;
  border: solid 0.5px #cad3c8;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  img {
    height: 33%;
    width: 70%;
    object-fit: contain;
  }
  hr {
    width: 50%;
    border: none;
    height: 1px;
    background-color: lightsteelblue;
    margin: 10px 0;
  }
}

.products-title {
  font-weight: 500;
  color: #e55039;
  font-size: 20px;
  margin-bottom: 10px;
}
.products-desc {
  font-size: 17px;
  text-align: center;
  color: #84817a;
  margin-bottom: 30px;
}
.products-price {
  font-size: 30px;
  color: #e55039;
  margin-top: 10px;
}
.products-item-div:hover {
  transform: scale(1.05);
}

.products-pages-div {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  span {
    font-size: 20px;
    border-top: solid 0.5px;
    border-right: solid 0.5px;
    border-bottom: solid 0.5px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  span:hover {
    background: lightsteelblue;
  }
}
.products-start-span {
  border-left: solid 0.5px;
}
.products-span-active {
  background: lightsteelblue;
  pointer-events: none;
}

.products-search-div {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  input {
    height: 45px;
    width: 300px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: solid 0.5px #cad3c8;
    border-radius: 2px;
    color: #706fd3;
  }
  input:focus {
    border: solid 1px #f86d70;
  }
}
.search-circle-div {
  width: 50px;
  position: relative;
  transform: translateX(-50px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-circle-div:hover {
  background: #f86d70;
}
.search-circle-div:hover .search-circle-line {
  background-color: #f86d70;
  border-color: #fff;
}
.search-circle-div:hover .search-line-div {
  background: #fff;
}
.search-circle-line {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #f86d70;
  border-radius: 50%;
}
.search-line-div {
  height: 8px;
  width: 2px;
  background: #f86d70;
  border-radius: 2px;
  transform: rotate(-45deg);
  position: absolute;
  right: 15px;
  bottom: 10px;
}
