@import "../../../Styles/animation.scss";
@mixin circle {
  position: fixed;
  height: 400px;
  width: 400px;
  // background-color: #f86d70;
  background: linear-gradient(to right, #f86d70, #fbbebe);
  border-radius: 50%;
  z-index: -10;
}
#Products {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
}

.prod-background-circle-1 {
  @include circle();
  top: -150px;
  left: -130px;
}
.prod-background-circle-2 {
  @include circle();
  right: -250px;
  bottom: 0;
}
