@import "../../../Styles/global.scss";

.navbar-div {
  height: 8vh;
  background: $primaryColor;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 20px 120px 20px 120px 20px 120px;
  grid-template-columns: repeat(4, 120px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 20px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 10;

  .cart-div,
  .products-div,
  .about-div,
  .logout-div {
    border: solid 2px white;
    text-align: center;
    padding: 10px;
    position: relative;

    .btn-active {
      color: black;
    }

    button {
      border: none;
      outline: none;
      color: white;
      background: none;
      position: relative;
      z-index: 10;
      letter-spacing: 2px;
      pointer-events: none;
    }

    button:hover {
      cursor: pointer;
    }
  }

  .cart-div::after,
  .products-div::after,
  .about-div::after,
  .logout-div::after {
    content: "";
    @include absolute(0, 0, $primaryColor, 100%, 100%);
    -webkit-clip-path: circle(10% at 0 100%);
    clip-path: circle(10% at 0 100%);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  div:hover::after {
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background: #fff;
  }

  .cart-div,
  .products-div,
  .about-div,
  .logout-div,
  .squeeze-circle-div {
    cursor: pointer;
  }
  div:hover > button {
    color: black;
    letter-spacing: 5px;
  }
}
.navbar-div-disable {
  pointer-events: none;
}
.squeeze-circle-div {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(150%);
  transform: translateX(-50%) translateY(150%);
  pointer-events: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: repeat(3);
  grid-template-rows: repeat(3);
  -ms-flex-line-pack: center;
  align-content: center;
  row-gap: 4px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  div {
    height: 2px;
    background: #fff;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
}
.squeeze-circle-div:hover {
  opacity: 1;
}
.circle-line-div1 {
  width: 20px;
}
.circle-line-div2 {
  width: 12px;
}
.circle-line-div3 {
  width: 6px;
}
.circle-line-div1-flip {
  width: 6px;
}
.circle-line-div3-flip {
  width: 20px;
}
.expand-div-click {
  padding-top: 10px;
  position: absolute;
  left: 0;
  top: 8vh;
  width: 100%;
  height: 0;
  background: $primaryColor;
  z-index: -20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: hidden;
  p {
    color: white;
    margin-bottom: 10px;
    opacity: 0.8;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  p:hover {
    opacity: 1;
  }
  .expand-p-active {
    opacity: 1;
    pointer-events: none;
  }
}
.expand-div-click-on {
  height: 160px;
}
.nav-active-div {
  background-color: #fff;
  pointer-events: none;
}
.navbar-div * {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart-div > div {
  -webkit-transform: translateX(-90px);
  transform: translateX(-90px);
  pointer-events: none;
}
.cart-div:hover > .cart-logo1-black {
  background: #706fd3;
}
.cart-logo {
  @include absolute(13px, 20px, #fff, 20px, 12px);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.cart-logo1 {
  @include absolute(11px, 15px, #fff, 6px, 19px);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.cart-logo1-black {
  @include absolute(13px, 6px, #706fd3, 13px, 18px);
  -webkit-transform: rotate(-9deg);
  transform: rotate(-9deg);
}
.cart-logo2 {
  @include absolute(28px, 21.4px, #fff, 15px, 1.5px);
}
.cart-wheel1,
.cart-wheel2 {
  @include absolute(30.5px, 20px, #fff, 4px, 4px);
  border-radius: 50%;
}
.cart-wheel2 {
  left: 31px;
}
.cart-circle-div {
  @include absolute(-15px, 45px, $primaryColor, 30px, 30px);
  border: solid 2px #fff;
  border-radius: 50%;
  span {
    color: #ff9f43;
    font-weight: bold;
  }
}

@media only screen and (max-width: 725px) {
  .cart-div,
  .products-div,
  .about-div,
  .logout-div {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .squeeze-circle-div {
    opacity: 1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: fill;
    opacity: 0.7;
  }
}
